/* unversal styles shared by all pages of friend finder */

body {
    font: 300 1.25em 'Zilla Slab', serif;
    position: relative;
}

.foot {
	box-sizing: border-box;
    padding: 10px; 
    text-align: right;  
    background-color: #0D37D7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0D37D7, #0D37D7 5%, #00bfa3);
    background: -o-linear-gradient(bottom right, #0D37D7, #0D37D7 5%, #00bfa3);
    background: -moz-linear-gradient(bottom right, #0D37D7, #0D37D7 5%, #00bfa3);
    background: linear-gradient(165deg, #0D37D7, #0D37D7 5%, #00bfa3);
}

.foot a {
    font-size: .75em;
    color: #fff;
}

.foot a:hover {
    color: #0D37D7;
}

@media screen and (max-width: 840px) {
     .container {
        max-width: 90%;
    }
}