/* Friend Finder form page styles */

body {
    position: relative;
}
#surveyWrapper {
    max-width: 800px;
    width: 100%;
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translatex(50%);
    -webkit-transition: all .45s cubic-bezier(.51,-0.31,.65,.63);
    -moz-transition: all .45s cubic-bezier(.51,-0.31,.65,.63);
    transition: all .45s cubic-bezier(.51,-0.31,.65,.63);
}

.head {
    margin-bottom: 20px;
}


/*-- grid controls for survey page-flexBox --*/
.rowWrapper, .surveyRow, .matchModal {
    display: flex;
    justify-content: space-between;
}

.form-row {
    box-sizing: border-box;
    border: 1px solid #0D37D7;
    margin-bottom: 20px;
    position: relative; /* for input label position*/
}

.col-6 {
    flex-basis: 48.5%;
}

.col-12 {
    flex-basis: 100%;
}

/*--  grid for questions - flexbox--*/
/*.quest-block {
display: flex;
}

.NumDropCap {
    flex: 1;
}
h3 {
    flex: 5;
}*/
/*-- input form fields --*/

.rowWrapper:last-child {
    margin-bottom: 50px;
}

input {
    box-sizing: border-box;
    background-color: transparent;
    border-style: none;
    padding: 10px 20px 10px;
    font: 400 1em 'Zilla Slab', serif;
    width: 100%;
    max-width: 800px;
    text-align: left;
}   

label {
    font-size: .7em;
    color: #0D37D7;
    background: #fff;
    border: 1px solid #0D37D7;
    border-width: 0 1px 0 1px;
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 1;
    padding: 0 5px;
    transition: all 0.35s;
    transform: translateY(calc(-50% - 1px));
}

input::placeholder {
    font-size: 1em;
    color: rgba(152, 170, 181, .4);
}

/* adds input field name to top of field test */
input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(100%);
}

input:focus {
    outline: none;
    border-color: #fff;
}


/*-- navigation buttons --*/

.backArrow {
    font-size: 1em;
    color: #0D37D7;
    transform: rotate(180deg);
    border: none;
    background-color: transparent;
    float: right;
}

.backArrow:hover, #logoImg {
    font-size: 1em;
    color: #eee;
}

.backArrow:focus {
    outline: none;
}

.back-btn {
    cursor: pointer;
}

/* --question block on survey --*/

h3 span, .modalHead { /* --styles for numbers in select form question  --*/
 color: #808080;
 font-weight: 500;
 font-size: 2em;
 line-height: .7;
}

select {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 20px 0;
    margin-top: 10px;
    border: none;
    color: rgb(152, 170, 181);
    border-radius: 0px;*/
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

select:focus {
    outline: none;
}

.quest-block {
    border-left: 1px solid #0D37D7;
    padding: 0 10px;
    margin-bottom: 40px;
}

/*-- animation for submit button arrow -- drop-down shade effect on hover state --*/

.submit-Btn {
    box-sizing: border-box;
    border: 3px solid #0D37D7;
    padding: 10px 15px;
    display: block;
    margin-bottom: 50px;
    cursor: pointer;
    font: 500 .8em 'Zilla Slab', serif;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.submit-Btn span {
    color: #0D37D7;
    display: inline-block;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    -moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.success {
    position: absolute;
    left: 0;
    top: -70px;
    color: #fff;
    background-color: #00bfa3;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    z-index: 10;
    -webkit-transition: all .50s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    -moz-transition: all .50s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all .50s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.iconCHK {
    z-index: 9;
    top: 0;
}

/* macth modal window style*/

.matchModal{
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
    background-color: tomato;
}

.matchIcon {
    height: 75px;
}

.modalHead { 
    color: #eee;
    font-weight: 500;
    font-size: 1.7em;
    line-height: .9;
}

/* Modal close button (x) upper right corner*/
.xClose {
    position: absolute;
    right: 15px;
    top: 0;
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.xClose:hover,
.xClose:focus {
    color: rgb(229, 47, 49);
    cursor: pointer;
    animation: spin .5s;
}

.match {
    top: 0;
}

/*.btn-rollover{
    
}

.submit-Btn:hover .btn-rollover {
    top: 0;
    z-index: 1;
    background-color: tomato;
}*/

.submit-Btn:focus {
    outline: none;
}

@media screen and (max-width: 840px) {
     #surveyWrapper {
        max-width: 90%;
    }
}

    @media screen and (max-width: 480px) {
 
    .rowWrapper, .surveyWrapper {
        display: block;
    }
}




/*--  modal close animtaion  --*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
